#title{
    font-style: oblique;
}
#para{
    font-family: Verdana;
    
}
.body{
    font-style: normal;
}
/* .container{
    background-color: rgb(219, 217, 215);
} */
.center{
    text-align: center;
    background-color: rgba(126, 122, 122, 0.87);
}
/* #image{

}  */
.h4{
text-align: justify;
}