#title{
    font-style: oblique;
}
#para{
    font-family: Verdana;
    
}
.body{
    font-style: normal;
}

.center{
    text-align: center;
    background-color: rgba(126, 122, 122, 0.87);
}
.image{
    height: auto;
    width: auto;
}
.h4{
text-align: justify;
}